@charset "UTF-8";

@font-face {
  font-family: 'Crimson Text';
  src:
    url('fonts/crimson-roman-webfont.woff2') format('woff2'),
    url('fonts/crimson-roman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson Text';
  src:
    url('fonts/crimson-italic-webfont.woff2') format('woff2'),
    url('fonts/crimson-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Newton Sans';
  src: url('fonts/NewtonSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* --color-bg: #020021; */
  --color-bg: #03002f;
  --color-bg-2: #03002f;
  --color-bg-3: #050055;
  --color-bg-4: #0a00a0;
  --color-bg-5: #3f33ff;
  --color-fg: #770300;
  --color-fg-2: #ba0000;
  --color-anim: #d14747;
  --color-anim-light: #ddd;
  --color-border: #aaa;
  --border-width: 4px;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  cursor: none;
}

html,
body {
  /* height: 100%; */
}

::selection {
  color: var(--color-bg);
  background: var(--color-anim);
}

body {
  width: 100%;
  font-family: "Crimson Text", Crimson, Garamond, Georgia, Times, serif;
  quotes: '«\00A0' '\00A0»' "“" "”";
  color: var(--color-fg);
  background: var(--color-bg);
  letter-spacing: 0.01rem;
  line-height: 1.62;
  font-size: 1.8rem;
}

@media (min-width: 18.75em) { /* 300px */
  body {
    /* Fluid typography
     * calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    font-size: calc(18px + (26 - 18) * ((100vw - 300px) / (1280 - 300)));
  }
}

@media screen and (min-width: 80em) { /* 1280 px */
  body {
    font-size: 2.6rem;
  }
}

a {
  color: var(--color-anim);
  text-decoration: none;
}

p {
  /* max-width: 60ch; */
  /* margin: 1.62em 0; */
  margin: 0;
  text-indent: 1.62em;
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

p + p {
  /* margin: 1.62em 0 0; */
}

.menu {
  z-index: 110;
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  outline: none;
  text-align: center;
  width: 3em;
  height: 3em;
}

.container {
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  justify-content: safe center;
  align-items: safe center;
}

.meta,
.title {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background: var(--color-bg);
}

.show {
  display: flex;
  justify-content: safe center;
  align-items: safe center;
}

.hide {
  display: none;
}

.interface.hide {
  display: none;
}

.btn--close.hide {
  display: none;
}

.title {
  z-index: 100;
  width: 100%;
  /* padding: 0 3em; */
}

.meta {
  z-index: 90;
  overflow-y: scroll;

  .meta__container {
    max-width: 60ch;
    /* color: var(--color-fg); */
    margin: 0 auto;
    padding: 0 3em;
  }

  .meta__titre {
    max-width: 60ch;
    /* border: var(--border-width) solid var(--color-fg); */
    animation: neon 10s ease-in-out infinite alternate;
    border-radius: 0;
    text-align: center;
    font-size: 1em;
    padding: 1em;
    margin: 1em 0;
  }

  .meta__contenu {
    max-width: 60ch;
    /* border: var(--border-width) solid var(--color-fg); */
    animation: neon 10s ease-in-out infinite alternate;
    border-radius: 0;
    margin: 1em 0;
    padding: 1em;
  }
}

.title__container {
  /* height: calc(100vh - 2em); */
  /* height: calc(calc(var(--vh, 1vh) * 100) - 2em); */
  /* width: 100%; */
  /* max-width: calc(60ch - 6em); */
  width: 70vw;
  max-width: 60ch;
  height: 84vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
  color: var(--color-fg);
  /* border: var(--border-width) solid var(--color-fg); */
  animation: neon 10s ease-in-out infinite alternate;
  border-radius: 0;
  position: relative;
}

.title__link {
  cursor: none;
  text-decoration: none;
  text-align: center;
  padding: 0.3em;
  margin: 1em;
  color: var(--color-anim);
  /* border: var(--border-width) solid var(--color-fg); */
  animation: neon 10s ease-in-out infinite alternate;
  border-radius: 0;
}

.title__link:hover,
.title__link:focus,
.title__link:active {
  /* border: var(--border-width) solid var(--color-anim); */
  animation: neon 10s ease-in-out infinite alternate;
  border-radius: 0;
}

.title__info {
  position: absolute;
  bottom: 0;
}

@media (max-width: 55em) and (orientation: landscape) {
  .title__link {
    margin: 0.5em 0;
  }
}

button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: none;
  outline: inherit;
  margin: 0;
  padding: 0;
  outline: none;
}

/* Modifications spécifiques */
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  user-select: none;
  pointer-events: none;
  background: var(--color-anim);
  transition: all 0.4s linear;
  transition-property: background, transform;
  mix-blend-mode: hard-light;

  &--main {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    z-index: 1001;
    opacity: 0.9;
  }

  &--bg {
    height: 113px;
    width: 113px;
    border-radius: 50%;
    z-index: 110;
    opacity: 0.4;
  }

  &--interact {
    transform: translate(-50%, -50%) scale(1.5);
    background: var(--color-fg-2);
    opacity: 0.8;
  }

  &--interact-bg {
    transform: translate(-50%, -50%) scale(1.5);
    background: var(--color-fg-2);
    opacity: 0.3;
  }

  &--click {
    transform: translate(-50%, -50%) scale(2);
  }
}

@media (hover: none) and (pointer: coarse) {
  .cursor--main {
    display: none;
  }
}

.btn {
  font-family: "Newton Sans", serif;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  /* padding-top: 0.2em; */
  /* border: var(--border-width) solid var(--color-fg); */
  animation: neon 10s ease-in-out infinite alternate;
  border-radius: 0;
  outline: none;
  transition: all 0.5s linear;
  color: var(--color-bg-5);
  background: var(--color-bg);
}

.btn:hover,
.btn:focus,
.btn:active {
  outline: none;
  color: var(--color-anim);
}

.btn--menu {
  z-index: 1000;
  position: fixed;
  top: 0.5em;
  right: 0.5em;
  width: 2em;
  height: 2em;
  color: var(--color-bg-5);
}

.btn--anim {
  color: var(--color-anim);
}

.btn--close {
  z-index: 70;
  position: fixed;
  top: 0.5em;
  left: 0.5em;
  width: 2em;
  height: 2em;
  color: var(--color-bg-5);
}

.interface {
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .btn {
    font-size: 3.24em;
    width: 30vmin;
    height: 30vmin;
    margin: 10px;
    padding: 0;
  }
}

.chapitre {
  display: none;
  /* border: var(--border-width) solid var(--color-fg); */
  animation: neon 10s ease-in-out infinite alternate;
  border-radius: 0;
  padding: 1em;
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  width: 70vw;
  max-width: 60ch;
  height: 84vh;
  background: var(--color-bg);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
  color: var(--color-bg-5);
  transition: all 1s ease;
}
.chapitre p {
  animation: texte 10s ease-in-out infinite alternate;
}
.chapitre::-webkit-scrollbar {
    display: none;
}

.chapitre--show {
  z-index: 10;
  display: block;
  /* border: var(--border-width) solid var(--color-fg); */
  animation: neon 10s ease-in-out infinite alternate;
  border-radius: 0;
}

.small-caps {
  font-variant: small-caps;
  font-variant-caps: small-caps;
}

.noindent,
.noindent * {
  text-indent: 0;
}

.a-droite-en-bas {
  margin-top: 59vh;
  text-align: right;
}

.mot {
  color: var(--color-bg-second);
  /* transition: all 1s ease; */
}

.mot--anim {
  color: var(--color-anim);
  animation: disappear 20s ease-in;
  /* transition: all 5s ease-out; */
}

@keyframes neon {
  0% {
   box-shadow:
    0 0 20px 0px var(--color-bg-3);
  }
  100% {
   box-shadow:
    0 0 30px 0px var(--color-bg-5);
  }
}

@keyframes disappear {
  0% {
    color: var(--color-anim);
  }
  100% {
    color: var(--color-bg);
  }
}

@keyframes texte {
  0% {
    color: var(--color-bg-3);
  }

  100% {
    color: var(--color-bg-5);
  }
}
